%h3= "#{@forum.name} - #{@forum.description}"
%ul
  %li.heading Topics
  - if @forum.topics.length > 0
    - @forum.topics.each do |topic|
      %li
        %a{:href=>"/forums/#{@forum.id}/topics/#{topic.id}"}= topic.title
        ="(#{topic.posts.length} #{topic.posts.length > 1 ? "posts" : "post"})"
  - else
    %li There are no topics in this forum
%ul.actions
  %li
    %a{:href=>"/forums/#{@forum.id}/topics/new"} New topic
  %li
    %a{:href=>"/forums"} Back to forums
