%h3 Forums
%ul
  - if @forums.length > 0
    - @forums.each do |f|
      %li.post
        %a{:href=>"/forums/#{f.id}"}= f.name
        %span.item-count= "(#{f.topics.length} #{f.topics.length == 1 ? "topic" : "topics"})"
        %div.poster= f.description
  - else
    %li
      There are no forums
%ul.actions
  %li
    %a{:href=>'/forums/new'} Create forum
      