%h3= @forum.name
%p= @forum.description
%ul
  - @forum.topics.each do |topic|
    %li
      %a{:href=>"/forums/#{@forum.id}/topics/#{topic.id}"}= topic.title
%ul.actions
  %li
    %a{:href=>"/forums/#{@forum.id}/topics/new"} New topic
  %li
    %a{:href=>"/forums"} Back to forums
