= partial(:_forum_header)
%h4 Topics
%ul
  - if @forum.topics.length > 0
    - @forum.topics.each do |topic|
      %li.post
        %a{:href=>"/forums/#{@forum.id}/topics/#{topic.id}"}= topic.title
        %span.item-count= "(#{topic.posts.length} #{topic.posts.length == 1 ? "post" : "posts"})"
        %div.poster= "last post by #{topic.posts.last.user.login} at #{topic.posts.last.created_at}"
  - else
    %li There are no topics in this forum
%ul.actions
  %li
    %a{:href=>"/forums/#{@forum.id}/topics/new"} New topic
  %li
    %a{:href=>"/forums"} Back to forums
