= partial(:_forum_header)
= partial(:_topic_header)
%ul
  - unless @topic.posts.empty?
    - @topic.posts.each do |post|
      %li.post
        %div.post-body= sanitize(post.body)
        %div.poster= "posted by #{post.user.login} at #{post.created_at} ago"
  - else
    %li No posts for this topic.
%ul.actions
  %li
    %a{:href=>"/forums/#{@topic.forum.id}/topics/#{@topic.id}/posts/new"} Reply
  %li
    %a{:href=>"/forums/#{@topic.forum.id}"} Back to forum